@import url('https://fonts.googleapis.com/css2?family=Antonio&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Source Sans Pro, sans-serif;
    font-weight: 300;
    color: darkslateblue;
    background-color: #FDF9F0;
}

h1,
h2 {
    font-family: Antonio, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
    color: darkslategrey;
}

/* headings and logo style*/

.newheader {
    overflow: hidden;
    background-color: #e9ca1b;
    padding: 20px 10px;
}

.newheader a {
    float: left;
    color: darkslategrey;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    font-weight: 800;

}

.newheader a.active {
    border-top: 2px solid darkslategray;
    border-bottom: 2px solid darkslategray;
}

.newheader a:hover {
    border-top: 2px solid darkslategray;
    border-bottom: 2px solid darkslategray;
}

.newheader-right {
    float: right;
}


/*main image and cover text*/
#main-image {
    position: relative;
    clear: both;
}

#honey {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.cover-text {
    font-size: 130%;
    font-family: Antonio, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;

    width: 120px;
    height: 250px;

    padding: 10px;

    background-color: rgba(233, 202, 27, 0.75);

    bottom: 5%;
    left: 5%;

    position: absolute;
}

/* Our Mission and About us section */

#main-page-grid {
    clear: both;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 100px;
    padding: 5%;
    height: 100%;
    object-fit: scale-down;
}

#main-page-grid img {
    height: auto;
    width: 100%;
    padding-top: 15px;
}

#main-page-grid h2 {
    font-size: xx-large;
    font-weight: 800;
}

#main-page-grid h2 {
    padding: 10px 0;
    letter-spacing: 2px;
}

#main-page-grid p {
    font-weight: 600;
    font-size: x-large;
    letter-spacing: 2px;
    padding-top: 0;
}

/* Where to find us section and google map iframe*/

.map {
    width: 100%;
    height: 400px;
}

.find h3,
h4 {
    text-align: center;
}

.find h3 {
    font-size: x-large;
}

.find h4 {
    font-size: large;
    padding-bottom: 10px;
}

/* Contact form */

.background-image {
    background-image: url(../images/mountain-heather.jpeg);
    min-height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    clear: both;
}

.contact {
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 600px;
    padding: 15px;
    background-color: rgba(233, 202, 27, 0.75);
    font-size: x-large;
}

.text-input {
    width: 90%;
    padding: 15px;
    margin: 15px;
}

#comments {
    width: 90%;
    padding: 15px;
    margin: 15px;
}

::placeholder {
    font-size: x-large;
    font-family: Source Sans Pro, sans-serif;
    opacity: 0.7;
}

.button {
    font-size: x-large;
    background-color: #FDF9F0;
    font-family: Source Sans Pro, sans-serif;
    margin: 15px;
    padding: 5px;
    border: 1px solid darkslategrey;
    border-radius: 15%;
}

.button:hover {
    background-color: darkslategray;
    border: 1px solid #FDF9F0;
    color: #FDF9F0;
}

label {
    font-weight: 800;
    padding: 10px;
    margin: 10px;
}

.background-image h2 {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.background-image p {
    text-align: center;
}

/* Product banner and cover text */
.heather1 {
    position: relative;
    clear: both;
}

.heatherproduct {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.product-text {
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Antonio, sans-serif;
    text-transform: uppercase;
    font-size: 425%;
    font-weight: 400;
    background-color: rgba(247, 215, 252, 0.75);
    color: darkslategray;
    text-align: center;
    padding: 10px;
    border-radius: 2%;
}

/* product section */

.grid-container {
    clear: both;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
    padding: 30px;
    height: 100%;
    object-fit: scale-down;
}

.grid-container img {
    height: auto;
    width: 100%;
}

.grid-container h2 {
    font-size: xx-large;
    font-weight: 800;
}

.grid-container h2,
p {
    padding: 30px 0;
}

.grid-container p {
    font-size: x-large;
    font-weight: 600;
}

/* Footer section with social media links */
.footer {
    height: auto;
    padding: 5px 0;
    display: block;
    clear: both;
    background-color: #e9ca1b;
}

.footer .social {
    text-align: center;
    padding: 5px;

}

.footer .social a {
    font-size: 50px;
    display: inline-block;
    text-align: center;
    margin: 0 200px;
    line-height: 25px;
    opacity: 0.7;
}

.footer .social a:hover {
    opacity: 1.0;
}

.footer p {
    padding: 0;
}

/* Media queries for smaller screens and tablets */

@media screen and (max-width: 1350px) {
    .footer .social a {
        margin: 0 100px;
    }
}

@media screen and (max-width: 1200px) {

    #main-page-grid {
        clear: both;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .mission1 {
        grid-row: 1;
    }

    .mission2 {
        grid-row: 2;
    }

    .about3 {
        grid-row: 3;
    }

    .about4 {
        grid-row: 4;
    }

    .grid-container {
        clear: both;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 30px;
        padding: 30px;
        height: 100%;
        object-fit: scale-down;
    }

    .footer .social a {
        margin: 0 40px;
    }

    .product-text {
        width: 300px;
        font-size: 300%;
        padding: 5px;
    }
}

/* Media queries for small screens */

@media screen and (max-width: 900px) {
    .grid-container {
        clear: both;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

@media screen and (max-width: 500px) {
    .newheader a {
        float: none;
        display: block;
        text-align: center;
        font-size: 88%;
        font-weight: 600;
    }

    .newheader-right {
        padding: 30px;
    }

    .newheader-right {
        float: none;
    }

    /*contact form media query*/
    .contact {
        font-size: large;
        bottom: 150px;
        top: 150px;
    }

    .text-input {
        padding: 5px;
        margin: 5px;
    }

    #comments {
        padding: 5px;
        margin: 5px;
    }

    ::placeholder {
        font-size: large;
    }

    /* Footer media query */

    .footer .social a {
        font-size: 30px;
    }

}