@import url('https://fonts.googleapis.com/css2?family=Antonio&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Source Sans Pro, sans-serif;
    font-weight: 300;
    color: darkslateblue;
    background-color: #FDF9F0;
}

h1,
h2 {
    font-family: Antonio, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
    color: darkslategrey;
}

/* headings and logo style*/

.header1 {
    background-color: #e9ca1b;
    height: 75px;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 20px;
}

#menu {
    float: right;
    font-size: 110%;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 20px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    font-weight: 800;
}

#menu a:hover {
    border-top: 2px solid darkslategray;
    border-bottom: 2px solid darkslategray;
}

.active {
    border-top: 2px solid darkslategray;
    border-bottom: 2px solid darkslategray;
}

/*main image and cover text*/
#main-image {
    position: relative;
    clear: both;
}

#honey {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.cover-text {
    font-size: 130%;
    font-family: Antonio, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;

    width: 120px;
    height: 250px;

    padding: 10px;

    background-color: rgba(255, 215, 0, 0.7);

    bottom: 50px;
    left: 50px;

    position: absolute;
}

/* Our Mission and About us section */

#main-page-grid {
    clear: both;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 100px;
    padding: 100px;
    height: 100%;
    object-fit: scale-down;
}

#main-page-grid img {
    height: auto;
    width: 100%;
    padding-top: 15px;
}

#main-page-grid h2 {
    font-size: xx-large;
    font-weight: 800;
}

#main-page-grid h2, p {
    padding: 10px 0;
    letter-spacing: 2px;
}


#main-page-grid p {
    font-weight: 600;
    font-size: large;
}



/* Contact form */

.background-image {
    background-image: url(../images/mountain-heather.jpeg);
    min-height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    clear: both;
}

.contact {
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 600px;
    padding: 15px;
    background-color: rgba(233, 202, 27, 0.75);
    font-size: x-large;
}

.text-input {
    width: 90%;
    padding: 15px;
    margin: 15px;
}

#comments {
    width: 90%;
    padding: 15px;
    margin: 15px;
}

::placeholder {
    font-size: x-large;
    font-family: Source Sans Pro, sans-serif;
    opacity: 0.7;
}

.button {
    font-size: x-large;
    background-color: white;
    font-family: Source Sans Pro, sans-serif;
    margin: 15px;
    padding: 5px;
    border: 1px solid darkslategrey;
    border-radius: 15%;
}

.button:hover {
    background-color: darkslategray;
    border: 1px solid white;
    color: white;
}

label {
    font-weight: 800;
    padding: 10px;
    margin: 10px;
}

.background-image h2 {
    padding: 10px;
    margin: 10px;
}

/* Product banner and cover text */
.heather1 {
    position: relative;
    clear: both;
}

.heatherproduct {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.product-text {
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 425%;
    font-weight: 800;
    background-color: rgba(247, 215, 252, 0.75);
    color: darkslategray;
    text-align: center;
    padding: 10px;
    border-radius: 2%;
}

/* product section */

.grid-container {
    clear: both;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 600px;
    grid-gap: 30px;
    padding: 30px;
    height: 100%;
    object-fit: scale-down;
}

.grid-container img {
    height: auto;
    width: 100%;
}
.grid-container h2 {
    font-size: xx-large;
    font-weight: 800;
}

.grid-container h2, p {
    padding: 30px 0;
}

/* Footer section with social media links */
.footer {
    height: auto;
    padding: 5px 0;
    display: block;
    clear: both;
    background-color: #e9ca1b;
}

.footer .social {
    text-align: center;
    padding: 5px;

}

.footer .social a {
    font-size: 50px;
    display: inline-block;
    text-align: center;
    margin: 0 200px;
    line-height: 25px;
    opacity: 0.7;
}

.footer .social a:hover {
    opacity: 1.0;
}

.footer p {
    padding: 0;
}